html {
  font-size: 62.5%;
  font-family: 'Noto Sans TC', sans-serif;
  
  @media screen and (max-width: $bp-large) {
    font-size: 50%;
  }
}

*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

ul {
  list-style: none;
}

body {
  background-image: linear-gradient(to right bottom, $background-primary-light, $background-primary-dark );
  background-size: cover;
  
  min-height: 100vh;
}



