$background-primary-light: #ff5a7b;
$background-primary-medium: #ff385f;
$background-primary-dark: #FF1644;

$light-grey-1: #F5F5F5;
$light-grey-2: #EEEEEE;
$light-grey-3: #BDBDBD;
$light-grey-4: #717171;

$dark-grey-1: #37474F;

$bp-largest: 75em; // 1200px
$bp-large: 68.75em; // 1050px
$bp-medium: 56.25em; // 900px
$bp-small: 37.5em; // 600px
$bp-smallest: 31.25em; // 500px


